extends layout

block content

    h1= title
    form(id='formEdit', name='formEdit', action='/edit/' + car._id, method='post')
      p
        | Enter a car name
        input(type='text' id='carName' name='carName')
      p
        button(type='submit') Submit Changes